*{
	padding: 0px ;
	margin: 0px ;
	color: #333333;
}

.container,
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,{
	margin: 0px !important;
	padding: 0px !important;
	padding-right: !important;
    padding-left: !important;
	border:1px solid green !important;
}

.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.wrapper{
	width: 1200px;
    margin: 0 auto;
   /* border: 1px solid #e01919;*/
}

.logo{
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.wrapp_top-menu .link{
	width: 14%;
}
.wrapp_top-menu .link a{
	width: 140px;
    text-align: center;
    height: 65px;
    vertical-align: middle;
    /* line-height: 14px; */
    color: #333333;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    padding: 15px 10px;
    cursor: pointer;
    display: table-cell;
    text-decoration: none;
    box-shadow: -3px 3px 15px -5px rgba(0,0,0,0.75);
	-webkit-box-shadow: -3px 3px 15px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 15px -5px rgba(0,0,0,0.75);
}
.wrapp_top-menu .link:last-child a{
	box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
}
.wrapp_top-menu .link a:hover{
	background-color: #f9f9f9;
}

.wrapp_top-menu{
	justify-content: flex-end;
}

.fa-phone{
	transform: rotate(88deg);
}
.fas{
	color: #47000b;
}

.fa-phone-wrapp{
	background-color: #47000b;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
}

.link-phone a{
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}

.col-balance .item a,
.search-shopping a{
	color: #333333;
	font-size: 16px;
}

.search-shopping .search{
	border: 1px solid #6f1b18;
    text-align: right;
}

.container-navigation{
	margin: 55px 0px 60px;
}

.container-navigation .phones,
.container-navigation .col-balance{
	justify-content: center;
}

.container-navigation .icon-phone{
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.col-balance .item .fas,
.search-shopping .item .fas{
	width: 16.5px;
    height: 16.5px;
    margin-right: 10px;
}

.section-bottom-menu{
	background-color: #47000b;
}

.section-bottom-menu .wrapper{
	justify-content: space-between;
}
.section-bottom-menu .wrapper .link{
	width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
	font-size: 12px;
}

.section-bottom-menu .wrapper .link:hover{
	background-color: #fbae16;
}

/*section СЛАЙДЕР*/
.bx-wrapper{
	-moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    background: none !important;
    margin-bottom: 0px !important;
}

.bx-wrapper img{
	width: 100%;
	height: 600px;
	object-fit: cover;
}

.slide{
	width: 100% !important;
	height:auto;
}
.bx-default-pager{
	display: none;
}

.slide-description{
	z-index: 60;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slide-description .description{
	padding: 0px 10%;
}

.slide-description .description h2{
	color: #fff;
	font-size: 5em;
	margin-bottom: 60px;
}

.general-batton{
	display: block;
    width: fit-content;
	padding: 15px 35px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	background: rgba(252,88,29,1);
    background: -moz-linear-gradient(left, rgba(252,88,29,1) 0%, rgba(248,168,48,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,88,29,1)), color-stop(100%, rgba(248,168,48,1)));
    background: -webkit-linear-gradient(left, rgba(252,88,29,1) 0%, rgba(248,168,48,1) 100%);
    background: -o-linear-gradient(left, rgba(252,88,29,1) 0%, rgba(248,168,48,1) 100%);
    background: -ms-linear-gradient(left, rgba(252,88,29,1) 0%, rgba(248,168,48,1) 100%);
    background: linear-gradient(to right, rgba(252,88,29,1) 0%, rgba(248,168,48,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc581d', endColorstr='#f8a830', GradientType=1 );
}

.general-batton:hover{
	text-decoration: none;
	color: #fff;
}

/*END section СЛАЙДЕР*/


/*section-1*/

.section-1 .block-links .item-link{
	width: 17%;
	text-align: center;
	transition: all .3s ease-in;
	text-decoration: none;
	box-shadow: -3px 3px 15px -5px rgba(0,0,0,0.75);
	-webkit-box-shadow: -3px 3px 15px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 15px -5px rgba(0,0,0,0.75);
}
.section-1 .block-links .item-link:last-child{
	box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
}
.section-1 .block-links .item-link:hover{
	background-color: #47000b;
}
.section-1 .block-links .item-link:hover .item p{
	color: #fff;
}

.section-1 .block-links .item-link .item{
	padding: 25px 15%;
}
.section-1 .block-links .item-link .item .imege-link{
	height: 50px;
	width: 70px;
	margin: 0 auto;
}
.section-1 .block-links .item-link .item .imege-link-1{
	background: url(img/icons/icon-1.png) no-repeat center;
} 

.section-1 .block-links .item-link:hover .item .imege-link-1{
	background: url(img/icons/icon-1-w.png) no-repeat center;
}

.section-1 .block-links .item-link .item .imege-link-2{
	background: url(img/icons/icon-2.png) no-repeat center;
}
.section-1 .block-links .item-link:hover .item .imege-link-2{
	background: url(img/icons/icon-2-w.png) no-repeat center;
}
.section-1 .block-links .item-link .item .imege-link-3{
	background: url(img/icons/icon-3.png) no-repeat center;
}
.section-1 .block-links .item-link:hover .item .imege-link-3{
	background: url(img/icons/icon-3-w.png) no-repeat center;
}
.section-1 .block-links .item-link .item .imege-link-4{
	background: url(img/icons/icon-4.png) no-repeat center;
}
.section-1 .block-links .item-link:hover .item .imege-link-4{
	background: url(img/icons/icon-4-w.png) no-repeat center;
}
.section-1 .block-links .item-link .item .imege-link-5{
	background: url(img/icons/icon-5.png) no-repeat center;
}
.section-1 .block-links .item-link:hover .item .imege-link-5{
	background: url(img/icons/icon-5-w.png) no-repeat center;
}
.section-1 .block-links .item-link .item .imege-link-6{
	background: url(img/icons/icon-6.png) no-repeat center;
}
.section-1 .block-links .item-link:hover .item .imege-link-6{
	background: url(img/icons/icon-6-w.png) no-repeat center;
}
.section-1 .block-links .item-link .item .link-title-p{
	height: 40px;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in;

}
.section-1 .block-links .item-link .item p{
	margin-bottom: 0px !important;
	color: #333333;
	font-size: 12px;
    font-weight: bold;
}

/*END section-1*/



/*section-2*/

.section-2 h3{
	margin-top: 70px;
	margin-bottom: 50px;
}

.section-service .item{
	/*margin-top: 25px;*/
	display: -webkit-flex;
	display: flex;
}
.section-service .item .block{
	width: 50%;
}
.section-service .item .block img{
	width: 100%;
	height: 270px;
    object-fit: cover;
}
.section-service .item .block:nth-child(2){
	padding: 40px;
}

.section-service .item:nth-child(2n){
	flex-direction: row-reverse;
}

.section-service .item .block-info .description{
	font-size: 12px;
	color: #333333;
	margin: 15px 0px 25px;
}
.section-service .item .block-info .link{
	font-weight: bold;
	text-decoration: none;
	color: #333333;
	font-size: 12px;
}

.section-service .item .block-info .link:after{
	content: "";
	background: url(img/icons/arou-r.png) no-repeat center;
	width: 10px;
    height: 12px;
    position: absolute;
    margin: 8px 0px 0px 15px;
}
.section-differences{
	flex-wrap: wrap;
}

.section-differences .item{
	width: 33%;
	margin-bottom: 20px;
}

.section-differences .item h4,
.section-service .block-info h4{
	font-size: 1.2em !important;
}

.section-differences .differences-descr{
	font-size: 12px;
	padding-right: 35px;
}

.section-differences .differences-icon{
	width: 60px;
	height: 60px;
}
.differences-icon-1{
	background: url(img/icons/icon-7.png) no-repeat;
}
.differences-icon-2{
	background: url(img/icons/icon-8.png) no-repeat;
}
.differences-icon-3{
	background: url(img/icons/icon-9.png) no-repeat;
}
.differences-icon-4{
	background: url(img/icons/icon-10.png) no-repeat;
}
.differences-icon-5{
	background: url(img/icons/icon-11.png) no-repeat;
}
.differences-icon-6{
	background: url(img/icons/icon-12.png) no-repeat;
}
.differences-icon-7{
	background: url(img/icons/icon-13.png) no-repeat;
}
.differences-icon-8{
	background: url(img/icons/icon-14.png) no-repeat;
}
.differences-icon-9{
	background: url(img/icons/icon-15.png) no-repeat;
}

/*END section-2*/

/*section-3*/
.section-3{
	background: url(img/section-3.jpg) no-repeat;
	background-size: cover;
}
.section-3 .show h4{
	color: #fff;
	text-align: center;
}

.main-content{
    width: 100%;
    padding: 25px 0px;
    /* max-width: 590px; */
}

.shelf__outer{
	display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 175px);
    grid-auto-flow: dense;
}

.box-1 img{
	width: auto !important;
	object-fit: contain !important;
}

.shelf--medium{
	    grid-column: span 2;
}

.shelf__box{
    position: relative;
    overflow: hidden;
    
}
.shelf--tall{
	grid-row: 1 / span 2;
    grid-column: 3 / span 2;
    text-align: center;
}


.aa{
	grid-row: 2 / span 2;
    grid-column: 6 / span 1;
}

.bb{
	grid-column: 3 / span 2;
}
.shelf__box img{
	width: 100%;
	object-fit: cover;
}
.show-link{
	padding: 0 0 30px;
}
.show-link .general-batton{
	margin: 0 auto;
}


/*END section-3*/

/*section-4*/
.section-4 .section-news h3{
	margin-top: 70px;
    margin-bottom: 50px;
}

.section-4 .section-news-items{
	flex-wrap: wrap;
}
.section-4 .section-news-items .item{
	width: 25%;
}
.section-4 .section-news-items .item .dete{
	font-size: 12px;
	font-weight: bold;
}
.section-4 .section-news-items .item .title{
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	text-decoration: none;
}
.section-4 .section-news .block-link{
	text-align: center;
	margin: 40px 0px 13px;
}

/*END section-4*/


/*section-5*/
.section-5 .section-question h3{
	padding-top: 40px;

}
.section-5{
    background: #f4f4f4 url(img/question-img.png) no-repeat;
    height: 385px;
    background-position-y: bottom;
}

.section-5 .question-links{
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 230px;
    padding-right: 20px;
}

.section-5 .question-links a{
	width: 300px;
    text-align: center;
    margin: 12px 0px;
}

/*END section-5*/

/*section-6*/

.section-6 h1,
.section-6 h2{
	color: #47000b;
}

.section-6 h2{
	font-size: 26px;
}
.section-6 h1{
	margin-top: 70px;
    margin-bottom: 20px;
}


/*END section-6*/


/*section-footer*/
footer{
	background-color: #47000b;
}

.section-footer .wrapper .item{
	width: 50%;
}
.section-footer .footer_menu ul{
	list-style-type: none;
	 margin-bottom: 0rem !important; 
}
.section-footer .footer_menu li{
	color: #fff;
	float: left;
    width: 45%;
}

.section-footer .section-tel,
.section-footer .section-adress{
	width: 50%;
}

.section-footer .section-tel p{
	color: #fff;
	font-weight: bold;
}

.section-footer .section-adress p{
	color: #fff;
}

.footer-logo{
	color: #fff;
	font-size: 2.5em;
}



/*END section-footer*/